<div>
  <div fxLayout="column" fxLayoutAlign="start start">
    <h3 class="mat-h3">Your Thumbnails:</h3>
    <p class="mat-h4" *ngIf="!(home$ | async).thumbs.length">Your thumbs will appear here.</p>
    <mat-accordion fxFlex fxFill *ngIf="(home$ | async).thumbs.length">
      <div fxLayout="column">
        <div fxFlex fxFill *ngFor="let thumb of (home$ | async).thumbs; let i = index">
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title>
                <img style="display: block; max-height: 30px; max-width: 30px;" [src]="thumb.files[2].url" alt="">
              </mat-panel-title>
              <mat-panel-description>
                {{ thumb.title }}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <thumbs-list-item fxFlex fxFill [thumb]="thumb"></thumbs-list-item>

          </mat-expansion-panel>
        </div>
      </div>
    </mat-accordion>
  </div>
</div>
