<div class="container" fxLayout="column" fxLayoutAlign="start start" style="min-height: 500px;">
  <h2 class="mat-h2">Thumbnails Creator</h2>
  <div fxFill fxFlex="100%" fxLayout.lt-md="column" fxLayout.gt-sm="row" fxLayoutAlign="start start" fxLayoutGap="20px">

    <mat-card fxFlex fxFill>
      <mat-card-content>
        <div [ngSwitch]="(home$ | async).step">
          <!-- STEP: Selecting File -->
          <div *ngSwitchCase="'selecting-file'">
            <ngx-dropzone class="custom-dropzone" [showImagePreviews]="false" (filesAdded)="onFilesAdded($event)"
              [accept]="'image/png,image/jpeg'"></ngx-dropzone>
            <button fxFill mat-raised-button (click)="moveStep('take-a-snapshot')">Take a snapshot</button>
          </div>

          <!-- STEP: Take a Snapshot -->
          <div [hidden]="(home$ | async).step !== 'take-a-snapshot'">
            <webcam fxFill [height]="(home$ | async).cropper.settings.croppedHeight"
              [width]="(home$ | async).cropper.settings.croppedWidth" [trigger]="triggerObservable"
              (imageCapture)="handleImage($event)" *ngSwitchCase="'take-a-snapshot'" [videoOptions]="videoOptions"
              [imageQuality]="1" (initError)="handleInitError($event)"></webcam>

            <button mat-raised-button fxFill class="actionBtn" (click)="triggerSnapshot();">Take</button>
            <button mat-raised-button fxFill (click)="moveStep('selecting-file')">Cancel</button>
          </div>
          <!-- STEP: Cropping Image -->
          <div [hidden]="(home$ | async).step !== 'cropping-image'">
            <img-cropper #cropper fxFill [image]="cropperImage" [settings]="(home$ | async).cropper.settings">
            </img-cropper>
            <button mat-raised-button fxFill (click)="moveStep('previewing-cropped-image')">Preview Selection</button>
            <button mat-raised-button fxFill (click)="moveStep('selecting-file')">New File</button>
          </div>

          <!-- STEP: Previewing Cropped Image -->
          <div *ngSwitchCase="'previewing-cropped-image'">
            <mat-form-field fxFill>
              <input matInput placeholder="Thumbs Title" [(ngModel)]="thumbsTitle">
            </mat-form-field>
            <img [src]="cropperImage.image" [width]="(home$ | async).cropper.settings.croppedWidth"
              [height]="(home$ | async).cropper.settings.croppedHeight" />
            <button mat-raised-button fxFill (click)="uploadCroppedImage()">Generate Thumbs</button>
            <button mat-raised-button fxFill (click)="moveStep('cropping-image')">Crop Again</button>
          </div>

          <!-- STEP: Uploading Cropped Image -->
          <div *ngSwitchCase="'uploading-cropped-image'">
            <div fxFill fxLayout="column" fxLayoutAlign="center center">
              <h4 class="mat-h4">Generating Thumbs:</h4>
              <mat-spinner></mat-spinner>
            </div>
          </div>
        </div>

      </mat-card-content>
    </mat-card>

    <thumbs-list fxFlex fxFill></thumbs-list>
  </div>
</div>
