<div class="container" fxLayout="column" fxLayoutAlign="start start" style="min-height: 500px;">
  <h2 class="mat-h2">Thumbnails Creator</h2>
  <div fxFill fxFlex="100%" fxFlex.lt-md="100%" fxLayout.lt-md="column" fxLayout.gt-sm="row" fxLayoutAlign="start start"
    fxLayoutGap="20px">
    <mat-card fxFill fxFlex.gt-md="50%" fxFlex.lt-md="100%">
      <!--
        //  selecting-file
        //  cropping-image
        //  previewing-cropped-image
        //  uploading-cropped-image
       -->
      <mat-card-content>
        <div [ngSwitch]="step">
          <!-- STEP: Selecting File -->
          <div *ngSwitchCase="'selecting-file'">
            <ngx-dropzone class="custom-dropzone" [showImagePreviews]="false" (filesAdded)="onFilesAdded($event)" [maxFileSize]="50000"
              [accept]="'image/png,image/jpeg'"></ngx-dropzone>
          </div>

          <!-- STEP: Cropping Image -->
          <div [hidden]="step !== 'cropping-image'">
            <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
            <button mat-button (click)="step = 'previewing-cropped-image'">Preview Selection</button>
            <button mat-button (click)="step = 'selecting-file'">New File</button>
          </div>

          <!-- STEP: Previewing Cropped Image -->
          <div *ngSwitchCase="'previewing-cropped-image'">
            <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight" />
            <button mat-button (click)="uploadCroppedImage()">Generate Thumbs</button>
            <button mat-button (click)="step = 'cropping-image'">Crop Again</button>
          </div>

          <!-- STEP: Uploading Cropped Image -->
          <div *ngSwitchCase="'uploading-cropped-image'">
            <div fxFill fxLayout="column" fxLayoutAlign="center center">
                <h4 class="mat-h4">Generating Thumbs:</h4>
                <mat-spinner></mat-spinner>
            </div>
          </div>
        </div>

      </mat-card-content>

    </mat-card>

    <div fxFlex.gt-md="50%" fxFlex.lt-md="100%" fxLayout="column" fxLayoutAlign="start start">
      <h3 class="mat-h3">Your Thumbnails:</h3>
      <p class="mat-h4" *ngIf="!thumbs.length">Your thumbs will appear here.</p>
      <mat-accordion fxFill *ngIf="thumbs.length">

        <mat-expansion-panel *ngFor="let thumb of thumbs; let i = index">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <img style="display: block; max-height: 30px; max-width: 30px;"
                [src]="thumb.files[3].url" alt="">
            </mat-panel-title>
            <mat-panel-description>
              Image Created At: 1 minute ago
            </mat-panel-description>
          </mat-expansion-panel-header>

          <a *ngFor="let file of thumb.files; let i = index" [href]="file.url" target="_blank"> {{file.name}}</a>
        </mat-expansion-panel>


      </mat-accordion>
    </div>
  </div>
  <!-- <mat-card>
    <p>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" />
    </p>
    <mat-card-content>
      <mat-card-title translate>Hello world !</mat-card-title>
      <mat-card-subtitle>
        <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
        <q [hidden]="isLoading">{{quote}}</q>
      </mat-card-subtitle>
    </mat-card-content>
  </mat-card> -->

</div>
